@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  .no-print { display: none !important; }
}

@media (max-width: 768px) {
  .login-card-wrapper {
    padding-top: 0 !important;
  }

  .login-card {
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    background: rgba(8, 18, 55, 0.40) !important;
  }
}
